body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.styling-editor {
  display: flex;
  padding: 3rem;

  section {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__left {
    flex-grow: 1;
    width: 50%;
    margin-right: 2rem;
  }

  &__right {
    flex-grow: 1;
    width: 50%;
    margin-left: 2rem;
  }

  &__iframe {
    height: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    border: 8px solid white;

    iframe {
      width: 100%;
      height: 100%;
      border: 0 none;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.7rem;
    row-gap: 0.7rem;

    &.colors {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      width: 100%;
    }
  }

  &__color {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  select,
  input:not([type="color"]) {
    width: 100%;
    height: 40px;
    padding: 0.2rem 0.7rem;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  select {
    height: 46px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    padding: 0.2rem 0.7rem;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
}

.color-selector {
  width: 100%;
  padding: 1rem 0.7rem;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #eee;

    .styling-editor__color-input {
      transform: scale(1.1);
    }
  }

  &.horizontal {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;

    .color-selector__color-input {
      order: 2;
      width: 30px;
      height: 30px;
    }

    .color-selector__color-value {
      order: 2;
      margin: 0;
    }

    .color-selector__color-name {
      flex-grow: 1;
      text-align: left;
    }

    span {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-right: 1.5rem;
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: default;

    input,
    span {
      opacity: 0.4;
    }
  }

  &__color-input {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0 none;
    padding: 0;
    cursor: pointer;
    transition: transform 150ms ease-in-out;

    &::-webkit-color-swatch,
    &::-webkit-color-swatch-wrapper {
      border: none;
      border-radius: 50%;
      padding: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      border-radius: 50%;
      box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    }
  }

  &__color-value {
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    font-size: 12px;
  }

  &__color-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
  }
}

.number-input {
  display: flex;
  padding: 7px 0.7rem;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  &.margin-top {
    margin-top: 1rem;
  }

  label {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__unit {
    margin-left: 0.5rem;
    font-size: 13px;
  }

  input:not([type="color"]) {
    width: 100px;
    height: 30px;
    box-shadow: unset;
  }

  &__label {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 14px;
    font-weight: bold;
  }
}

button {
  padding: 0.6rem 1rem;
  background-color: #888;
  border-radius: 30px;
  color: white;
  border: 0 none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: #555;
  }
}
